OPENAI_API = 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
OPENAI_MODEL_ENGINE = 'gpt-3.5-turbo'
SYSTEM_MESSAGE = 'You are a helpful assistant.'
DISCORD_TOKEN = MTMzMTE2NjU2NTEwNTkzMDI5Mg.GRZIlJ.vPpMUZ25x52iYiUPZnUCOTc6oKvwGrc8CD_3Lg
